<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger House</title>
    <link rel="stylesheet" href="../Views/Assets/CSS/index.css" />
</head>

<body>

    <header class="header">
        <div class="contenido-header">
            <div class="imagen-logo">
                <img src="../Views/Assets/IMG/istockphoto-987716708-612x612.jpg">

            </div>
            <nav class="navegacion-principal">
                <a href="#">Sobre nosotros</a>
                <a href="#">Nuestra ubicación</a>
                <a href="#">Reserva una mesa</a>
            </nav>
        </div>
    </header>

    <section class="section-comidas">
        <h2>Nuestras Estrellas</h2>
        <div class="comidas">
            
            <div class="comida-card">
                <div class="imagen-comida">
                    <img src="../Views/Assets/IMG/hamburguesa1.jpeg">
                </div>               
                <h2>La cheesita</h2>
                <h3><span>₡</span>3600</h3>
                <input value="0" class="numero" type="number" min="0" />
                <input class="btn" type="submit" value="Comprar" />
            </div>

            <div class="comida-card">
                <div class="imagen-comida">
                    <img src="../Views/Assets/IMG/hamburguesa2.jpeg">
                </div>        
                <h2>La doble </h2>
                <h3><span>₡</span>5000</h3>
                <input value="0" class="numero" type="number" min="0" />
                <input class="btn" type="submit" value="Comprar" />
            </div>

            <div class="comida-card">
                <div class="imagen-comida">
                    <img src="../Views/Assets/IMG/Hamburguesa3.jpg">
                </div>
                <h2>La leñadora</h2>
                <h3><span>₡</span>5500</h3>
                <input  value="0" class="numero" type="number" min="0" />
                <input class="btn" type="submit" value="Comprar" />
            </div>

            <div class="comida-card">
                <div class="imagen-comida">
                    <img src="../Views/Assets/IMG/Hamburguesa4.jpg">
                </div>
                <h2>Las parejas</h2>
                <h3><span>₡</span>7000</h3>
                <input  value="0" class="numero" type="number" min="0" />
                <input class="btn" type="submit" value="Comprar" />
            </div>
            
        </div>
        <div class="contenedor-btn-general">
            <input class="btn btn-general" type="submit" value="Ver Total" />
        </div>
    </section>

    <footer class="footer">
        <div class="contenido-footer">
            <div class="imagen-logo">
                <img src="../Views/Assets/IMG/istockphoto-987716708-612x612.jpg">
            </div>
            <p>Derechos reservados</p>
            <p>Nos ubicamos 250 este del mall San Pedro</p>
            <p>Contactanos al: <span><h2 class="color-number">4700-0000</h2></span></p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../Views/Assets/JS/index.js"></script>

</body>


</html>